<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
  <label for="name" > Имя:</label>
  <input type="text" th:field="*{name}" id="name">
  <div style="color: darkolivegreen" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
  <br/>
  <label for="lastName" > Фамилия:</label>
  <input type="text" th:field="*{lastName}" id="lastName">
  <div style="color: darkolivegreen" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
  <br/>
  <label for="year" > Год рождения:</label>
  <input type="text" th:field="*{year}" id="year">
  <div style="color: darkolivegreen" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
  <br/>
  <label for="email" > E-mail:</label>
  <input type="text" th:field="*{email}" id="email">
  <div style="color: darkolivegreen" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
  <br/>
  <label for="login" > Имя пользователя:</label>
  <input type="text" th:field="*{login}" id="login">
  <div style="color: darkolivegreen" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">login error</div>
  <br/>
  <label for="password" > Пароль:</label>
  <input type="password" th:field="*{password}" id="password">
  <div style="color: darkolivegreen" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
  <br/>
  <label for="role"> Выбрать роли:</label>
  <select id="role" th:field="*{roles}" multiple>
    <option th:each="role:${role}" th:value="${{role}}" th:text="${role.role}"/>
  </select>
  <br/>

  <input type="submit" value="Create">
</form>

</body>
</html>